@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&display=swap%27');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #1B4364;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
    border-radius: 20px;
}

.content .container {
    display: flex;
    width: 80%;
}

.list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: large;
}

.logo {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px;
}

.content {
    /* border: solid 2px red; */
    display: flex;
    height: 1080px;
}

.sidebar {
    width: 20%;
    /* border: solid 3px red; */
    height: 100vh;
    background: #1e1e1e;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    text-decoration: none;
    border-bottom: black 1px solid;
    border-top: rgba(255, 255, 255, .1) 1px solid;
    border-left: transparent 5px solid;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}

.sidebar a.active,
.sidebar a:hover {
    border-left: #00ccff 5px solid;
    color: #00ccffc0;
}

.sidebar .agora {
    border-left: #00ccff 5px solid;
    color: #00ccff;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sidebar label #btn {
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: #262626 1px solid;
    margin: 15px 30px;
    font-size: 28px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

.sidebar a img {
    width: 40px;
    display: block;
    display: flex;
    padding: 12px;
    margin: 0px 0px 0px 250px;
    animation: animate 1s linear infinite;
}

/* Isso anima o alerta */
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}


@media(max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;

    }

    header,
    #btn {
        display: none;
    }

    .sidebar span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    .sidebar a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }

}


.saida {
    position: relative;
    /* bottom: -25%; */
}

.container {
    height: 100vh;
    /* border: #00ccff 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #262626;
}

.box-contato {
    height: 65vh;
    width: 20vw;
    border: #1e1e1e 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-size: 30px;
    background: #1e1e1e;
    border-radius: 15px;
    color: white;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box-contato input {
    background-color: #3a39395b;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    border: 0;
    border-bottom: rgba(0, 0, 0, 0.784) 2px solid;
    outline: 0;
    color: white;
}

.input_nome {
    margin-left: 30px;

}

.input_email {
    margin-left: 30px;

}

.input_assunto {
    margin-left: 30px;
}

.input_mensagem {
    margin-left: 30px;
}

.contato-logo {
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

.botao {
    display: flex;
    justify-content: center;
}

.botao button {
    font-size: 20px;
    height: 30px;
    width: 90px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #3a39395b;
    color: white;
    margin-top: 5%;
}

button:hover {
    background-color: #756e6e80;
    transition: 0.3s;
}

#mensagem{
    width: 90%;
    height: 10vh;
}

#nome {
    width: 90%;
}
#email {
    width: 90%;   
}
#assunto {
    width: 90%;
}