* {
    margin: 0;
    padding: 0;
}

.background {
    background: linear-gradient(101.7deg, #1D476A 0%, #041727 100%);
    background-size: 100vw;

}

.slogan {
    /* border: solid 2px fuchsia; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.slogan .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: auto;
    color: white;
    /* border: solid 2px firebrick; */
}

.slogan .p {
    font-size: 64px;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
    /* border: #00FFFF 2px solid; */
}

.slogan .p1 {
    align-self: center;
    width: 75%;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Montserrat';
    /* border: #1D476A 2px solid; */
}

.content {
    display: flex;
    height: 800px;
    justify-content: center;
    color: white;
    font-family: 'Share Tech';
    font-size: 20px;
    font-weight: 400;
    /* border: #00FFFF 2px solid; */
}

.planos {
    /* border: solid 2px chartreuse; */
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 350px;
    height: fit-content;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: #0E2335;
    display: flex;
    flex-direction: column;
    /* border: fuchsia 2px solid; */
}

.card.maior {
    width: 400px;
    background-color: #041727;
}

.topcard {
    height: 25px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: gray;
}

.topcard.maior {
    background-color: #00FFFF;
}

.textcard {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    /* border: #00FFFF solid 2px; */
}

.valor {
    margin-top: 20px;
    /* border: solid tomato 2px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.textcard .moeda {
    font-family: 'Share Tech';
    font-size: 30px;
    height: fit-content;
    margin-top: 8px;
    /* border: solid 2px lawngreen; */
}

.textcard .valor_plano {
    font-family: 'Share Tech';
    font-size: 70px;
    /* border: solid 2px lawngreen; */
}

.textcard .mes {
    font-family: 'Share Tech';
    font-size: 25px;
    height: fit-content;
    align-self: flex-end;
    margin-bottom: 12px;
    /* border: solid 2px lawngreen; */
}

.brl {
    /* border: #00FFFF solid 2px; */
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.moeda_blr {
    font-family: 'Share Tech';
    font-size: 25px;
    text-align: center;
}

.bt {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.bt_assine_aqui {
    height: 65px;
    width: 200px;
    cursor: pointer;
    background-color: #AAAAAA;
    font-size: 25px;
    font-family: 'Share Tech';
    border-radius: 40px;
    border: none;
    color: #041727;
}

.card2 {
    height: 600px;
    width: 300px;
    margin-right: 60px;
    background-color: #0a253b;
    -webkit-border-radius: 19px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius: 19px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-radius: 19px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.botao2 {
    height: 55px;
    width: 140px;
    margin: 20px 0 0 60px;
    background-color: #00FFFF;
    font-size: 15px;
    font-weight: 700;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.card3 {
    height: 550px;
    margin-right: 60px;
    width: 300px;
    background-color: #1c578815;
    justify-self: center;
    -webkit-border-radius: 19px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius: 19px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-radius: 19px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.botao3 {
    height: 55px;
    width: 140px;
    margin: 20px 0 0 60px;
    background-color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.cards u {
    font-weight: 400;
}

.coroa {
    position: absolute;
    top: 840px;
    height: 100px;
}