@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&display=swap%27');

/* popup */
.popup {
    font-family: 'Montserrat';
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}

.popup_conteudo {
    border-radius: 50px;
    background-color: white;
    margin: 2.5% auto;
    width: 70%;
    height: 90%;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.17), 0px 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: abrindoPopup;
    animation-duration: 0.5s;
    /* border: solid 3px violet; */
}

.popup_fechar {
    position: absolute;
    top: 4vw;
    right: 17vw;
    color: black;
    font-size: 40px;
    transition: 0.1s;
}

.popup_fechar:hover {
    color: #061F36;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.telaCadastro {
    margin: 0;
    display: flex;
    height: 100%;
}

.imgCadastro {
    border-radius: 50px 0 0 50px;
    background-image: url('assets/background/banner-cadastro.png');
    /* border: solid 3px gold; */
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formularioCadastro {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* border: #008cff solid 2px; */
}

.formularioCadastro p, .formularioLogin p{
    font-size: 12px;
    display: block;
}

.formularioCadastro h1 {
    font-family: 'Share Tech';
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    display: flex;
}

.inputCadastro {
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid 2px slateblue; */
}

.cadastro {
    /* border: solid 2px rebeccapurple; */
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.inputCadastro .coluna {
    /* border: solid 2px goldenrod; */
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formularioCadastro input {
    padding: 15px;
    width: 90%;
    font-size: 15px;
    color: black;
    background-color: #E7E7E7;
    border: none;
    border-radius: 10px;

}

.conteudoCadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* border: solid 2px red; */
}

.conteudoCadastro p {
    text-align: center;
    font-size: 1rem;
}

.conteudoCadastro a {
    color: black;
    cursor: pointer;
}

.botaoCadastrar {
    font-family: "Montserrat";
    background-color: #00d9ff;
    font-size: 20px;
    border: none;
    width: 170px;
    height: 45px;
    border-radius: 10px;
    transition: 0.25s;
}

.botaoCadastrar:hover {
    background-color: #008cff;
    transition: 0.25s;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

#clique_login:hover {
    cursor: pointer;
}

@keyframes abrindoPopup {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

/* popup */
.popupLogin {
    font-family: 'Montserrat';
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
}

.popup_conteudo_login {
    border-radius: 50px;
    background-color: white;
    margin: 5% auto;
    width: 70%;
    height: 80%;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.17), 0px 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: abrindoPopup;
    animation-duration: 0.5s;
}

.popup_fechar_login {
    position: absolute;
    top: 12vh;
    right: 17vw;
    color: black;
    font-size: 40px;
    transition: 0.1s;
}

.popup_fechar_login:hover {
    color: #061F36;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.telaLogin {
    margin: 0;
    display: flex;
    height: 100%;
}

.imgLogin {
    border-radius: 50px 0 0 50px;
    /* box-shadow: black 0px 0px 10px 0px; */
    background-image: url('assets/background/banner-login.png');
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formularioLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 2px lawngreen; */
}

.formularioLogin h1 {
    font-family: 'Share Tech';
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    /* border: solid 2px fuchsia; */
}

.formularioLogin .select {
    padding: 10px;
    font-size: 15px;
    color: black;
    background-color: #E7E7E7;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.formularioLogin input {
    width: 90%;
    padding: 15px;
    font-size: 15px;
    color: black;
    background-color: #E7E7E7;
    border: none;
    border-radius: 10px;
    /* border: solid 2px red */
}

.inputLogin {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    /* border: solid 2px green; */
}

.opcional {
    margin: 10px 0;
}

.linha_horizontal {
    width: 90%;
    border: 1px solid #061F36;
    margin: 25px 0;
}

.inputLoginGestor {
    flex-direction: column ;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: #008cff 2px solid; */
}

.conteudoLogin {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    /* border: solid 2px blue; */
}

.conteudoLogin p {
    text-align: center;
    font-size: 1rem;
    /* border: solid 2px green; */
}

.conteudoLogin a {
    color: black;
    cursor: pointer;
}

.botaoEntrar {
    font-family: "Montserrat";
    background-color: #00d9ff;
    font-size: 20px;
    border: none;
    width: 170px;
    height: 45px;
    border-radius: 10px;
    transition: 0.25s;
    margin: 20px;
}

.botaoEntrar:hover {
    background-color: #008cff;
    transition: 0.25s;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

.conteudoLogin a:hover {
    cursor: pointer;
}

@keyframes abrindoPopup {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}