/* Laptop */
/* @media screen and (max-width: 1024px) {
    .title {
        font-size: 3rem;
    }

    .card .slide {
        height: 29vh;
    }
} */

/* Tablet */
@media screen and (max-width: 768px) {
    .phrases .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }
    
    .phrase{
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }

    .bt_banner {
        justify-content: center;
    }

    .how-works .container {
        display: flex;
        flex-direction: column;
    }

    .how-works-text .title{
        text-align: center;
        width: 100%;
    }

    .how-works-text .phrase{
        text-align: center;
        width: 100%;
    }

    .how-works .container img {
        margin-top: 60px;
    }

    .cards {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        /* border: solid 2px firebrick; */
    }

    .cards .container-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35vw;
        /* border: solid 2px forestgreen; */
    }

    .cards-hover {
        /* border: solid 2px fuchsia; */
        width: 35vw;
    }

    .container-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35vw;
        /* border: solid 2px gold; */
    }

    .container-card .card {
        width: 100%;
        width: 35vw;
    }

    .container-card .card .icon {
        width: 35vw;
    }
    
    .slide2 {
        width: 35vw;
        display: flex;
    }

    .formularioLogin input {
        width: 200px;
    }

    
    .formularioLogin input {
        width: 200px;
    }

    .conteudoCadastro p, .conteudoLogin p {
        font-size: 12px;

    }

    .footer .container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .footer .container .bottom {
        display: flex;
        flex-wrap: wrap;
    }

    .card .slide {
        width: 35vw;
    }

    .container-card .card .icon {
        padding: 20px;
    }
}