@media screen and (max-width: 768px) {
    .slogan .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slogan .title {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }

    .slogan .phrase {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }

    .bt_banner {
        justify-content: center;
    }

    .topics {
        padding: 80px 0;
    }

    .topics .odd .number, .even .number {
        font-size: 2rem;
        font-weight: 700;
      }

    .topics .phrase {
        font-size: 1rem;
    }

    .topics .two {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topics .two img {
        width: 200px;
    }

    .cards {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        /* border: solid 2px firebrick; */
    }

    .cards .container-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35vw;
        /* border: solid 2px forestgreen; */
    }

    .cards-hover {
        /* border: solid 2px fuchsia; */
        width: 35vw;
    }

    .container-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35vw;
        /* border: solid 2px gold; */
    }

    .container-card .card {
        width: 100%;
        width: 35vw;
    }

    .container-card .card .icon {
        width: 35vw;
    }
    
    .slide2 {
        width: 35vw;
        display: flex;
    }

    .card .slide {
        width: 35vw;
    }

    .container-card .card .icon {
        padding: 20px;
    }    
}